/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Limelight", serif;
  --primary-color: ;
  --secondary-color: ; 
  --background-color: ;
}

/* Global Styles */
.navbar-brand {
    font-family: var(--secondary-font);
}