/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Limelight", serif;
  --primary-color: #ffffff;
  --secondary-color: #000000; 
  --background-color: #2f3c4b;
  --btn-hover-color: #99ffee;
  --search-button-color: #3700ff;
}

/* Global Styles */

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--primary-font);
}

/* Navbar */
.navbar-brand {
    font-family: var(--secondary-font);
}

/* Hero Section */
.hero-box {
    text-align: center;
    margin: 44px 0;
}

.hero-logo {
    display: block;
    margin: 15px auto 20px;
    width: 80%;
    max-width: 500px;
    height: auto;
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.4));
}

.hero-logo {
    width: 80%;
    max-width: 450px;
    display: block;
    margin: 0 auto 20px;
}

.hero-subtitle {
    font-family: var(--primary-font);
    opacity: 0.9;
    font-size: 1.1rem;
}

/* Auth Buttons */
.hero-auth {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-outline {
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
    background-color: #ffffff;
    color: var(--secondary-color);
}

.btn-outline:hover {
    background: var(--btn-hover-color);
}

/* Search Bar */
.search-form {
    max-width: 750px;
    margin: auto;
    display: flex;
    gap: 8px;
}
.search-form input {
    flex: 1;
    background: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: 12px;
    border-radius: 6px;
}
.search-form input:focus {
    border-color: var(--btn-hover-color);
}

.search-form button {
    background: var(--search-button-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    padding: 12px 18px;
    cursor: pointer;
}
.search-form button:hover {
    background: var(--btn-hover-color);
    color: var(--secondary-color);
}