/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Limelight", serif;
  --primary-color: #ffffff;
  --secondary-color: #000000; 
  --background-color: ;
  --btn-hover-color: #99ffee;
}

/* Global Styles */

/* Navbar */
.navbar-brand {
    font-family: var(--secondary-font);
}

/* Hero Section */
.hero-box {
    text-align: center;
    margin: 40px 0;
}

.hero-logo {
    width: 80%;
    max-width: 450px;
    display: block;
    margin: 0 auto 20px;
}

.hero-subtitle {
    font-family: var(--primary-font);
    opacity: 0.9;
    font-size: 1.1rem;
}

/* Auth Buttons */
.hero-auth {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-outline {
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.btn-outline:hover {
    background: var(--btn-hover-color);
}