/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Limelight", serif;
  --primary-color: ;
  --secondary-color: ; 
  --background-color: ;
}

/* Global Styles */
.navbar-brand {
    font-family: var(--secondary-font);
}

/* Hero Section */
.hero-box {
    text-align: center;
    margin: 40px 0;
}

.hero-logo {
    width: 80%;
    max-width: 450px;
    display: block;
    margin: 0 auto 20px;
}

.hero-subtitle {
    font-family: var(--primary-font);
    opacity: 0.9;
    font-size: 1.1rem;
}